<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <table class="card table">
            <thead class="card-header card-header-primary">
              <tr>
                <th>Solutions</th>
              </tr>
            </thead>
            <tbody class="card-body">
              <tr *ngFor="let solution of solutions">
                <td>{{solution["name"]}}</td>
                <td>
                  <a [routerLink]="['/product/',product.id]"></a>
                  <button (click)="gotoSolutionDetails('/solution',solution.id)" type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


